@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");

:root {
  /*ligt mode*/
  --LbackgroundColor: #2b2a3b;
  --LButtonColor: #f2b3d6;
  --LpColor: #ffffff;
  --LpDarkColor: #111111;

  /*Dark mode*/
  --DbackgroundColor: #2b2a3b;
  --DButtonColor: #f2b3d6;
  --DpColor: #ffffff;
  --DpDarkColor: #111111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e8e8;
  color: #4e545c;
  margin: 0;
  font-family: "Quicksand";
}

body.dark-mode {
  background-color: #000401;
  color: #e5e8e8;
}

.avatar {
  height: 60px;
}

.main-anime {
  background: url("../img/one-piece-front.jpg");
  height: 400px;
  background-size: cover;
}
/* main-anime */

.main-anime .description {
  margin-top: 10px;
  margin-bottom: 40px;
  width: 50%;
}

.main-anime .title {
  margin-top: 15%;
  font-size: 40px;
}

footer {
  width: 100%;
  background-color: #4e545c;
  padding: 16px;
  color: #e5e8e8;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-weight: 400;
}

footer.dark-mode {
  background-color: #8d9797;
  color: #000401;
}

.button-change-mode {
  border-radius: 40px;
  font-size: 1rem;
  height: 30px;
  width: 110px;
  border: none;
  background-color: #4e545c;
  color: #e5e8e8;
  transition: all 0.5s linear;
}

/*button-change mode*/
.button-change-mode:hover {
  background-color: #000401;
}

.button-change-mode.dark-mode {
  background-color: #e5e8e8;
  color: #4e545c;
}

.button-change-mode.dark-mode:hover {
  background-color: #4e545c;
  color: #e5e8e8;
}

.button-change-mode {
  border-radius: 40px;
  font-size: 1rem;
  height: 30px;
  width: 110px;
  border: none;
  background-color: #4e545c;
  color: #e5e8e8;
  transition: all 0.5s linear;
}

/*button-main-picture*/
.button-main-picture:hover {
  background-color: #000401;
}

.button-main-picture.dark-mode {
  background-color: #e5e8e8;
  color: #4e545c;
}

.button-main-picture.dark-mode:hover {
  background-color: #4e545c;
  color: #e5e8e8;
}

.button-main-picture {
  border-radius: 40px;
  font-size: 1rem;
  height: 40px;
  width: 200px;
  border: none;
  background-color: #4e545c;
  color: #e5e8e8;
  transition: all 0.5s linear;
}

/*Imgages of carousel*/
.box-anime {
  height: 250px;
  width: 150px;
  display: block;
}
